/***************************** SECTION ******************************/
.eventListAndFormSection {
  position: relative;
  min-width: 350px; /* taille du CALENDAR WRAPPER */
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

/* TITLE */
.underlinedTitle {
  font-size: clamp(16px, 4vw, 22px);
  font-weight: 500;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--black);
}

.blackUnderline {
  display: flex;
  justify-content: center;
}

/* LIST OF EVENTS */
.allTheEvents {
  width: 100%;
  /* height + title => 100vh */
  /* max-height: 90vh; */
  max-height: 77.9vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
/* EVENT */
.allTheEvents .event {
  position: relative;
  background: linear-gradient(0deg, var(--clay) 23.8%, var(--white) 92%);
  padding: 20px 0 20px 50px;
}

/* TIME */
.event .eventInfo {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.event .eventInfo .fa-circle {
  font-size: x-small;
  margin-right: 20px;
}

/* NAME & MANAGEMENT ICONS */
.event .namePlusIcon {
  display: flex;
  justify-content: space-between;
}
.namePlusIcon .eventPersonRelated {
  font-weight: 400;
  margin-left: 30px;
  color: var(--mediumGrey);
  pointer-events: none;
}
.namePlusIcon .add-event {
  border: none;
  background: transparent;
  cursor: pointer;
}

.namePlusIcon .add-event .fa-plus,
.fa-pencil-alt,
.fa-trash {
  font-size: medium;
  padding-right: 20px;
}

/****************************** FORM ******************************/
/* PORTE AU BAS DE PAGE + CACHE */
.add-event-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 98%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  transform: translate(-50%);
  transition: max-height 0.5s;
}

/* ACTIVE */
.add-event-wrapper.active {
  max-height: 290px;
  border: 2px solid var(--black);
}
/* HEADER */
.add-event-wrapper .add-event-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--black);
  border-bottom: 1px solid var(--clay);
}
.add-event-wrapper .add-event-header .title {
  font-size: 18px;
  font-weight: bold;
}
/* CLOSE */
.add-event-wrapper .add-event-header .close {
  font-size: medium;
  cursor: pointer;
}
/* BODY */
.add-event-wrapper .add-event-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-wrapper .add-event-body .add-event-info {
  border-bottom: 1px solid var(--clay);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-wrapper .add-event-body .add-event-info .info {
  color: var(--mediumGrey);
}
/* DROPDOWN MENU */
.add-event-info select {
  outline: 2px solid var(--lightPink);
  outline-offset: -2px;
  /* pour etre pile sur la ligne border bottom */
  padding-top: 5px;
  padding-left: 5px;
}

/* FOOTER */
.add-event-wrapper .add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-wrapper .add-event-footer .add-event-btn {
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: var(--lightPink);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

/****************************** ANIMATION ******************************/

/* even -> pair; 
     nth -> n-ième
     -> tt les 2 child du parent */
.allTheEvents .event:nth-child(even) {
  background: var(--white);
}
.allTheEvents .event {
  transition: border 0.3s ease;
}
.allTheEvents .event:hover {
  background: linear-gradient(0deg, var(--lightPink) 23.8%, var(--white) 92%);
}
/* ICON */
.fa-plus:hover,
.fa-pencil-alt:hover,
.fa-trash:hover {
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}
.add-event-wrapper .add-event-header .close:hover {
  color: var(--lightPink);
  text-shadow: 1px 1px 2px var(--black);
}
.add-event-wrapper .add-event-footer .add-event-btn:hover {
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}
@media (max-width: 900px) {

  .eventListAndFormSection .event {
  width: 350px;
}
.add-event-wrapper{
  width: 350px;
}
}
