footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 485px;
}

/* BTN */
button {
    width: auto;
    padding: 25px 50px;
    background-color: var(--lightPink);
    margin-top: 70px;
    font-weight: 900;
    font-size: clamp(20px, 3vw, 30px);
    border-radius: 5px;
    cursor: pointer;
    /* text-transform: uppercase; */
    margin-bottom: 60px;
    margin-top: 20px;
}

/* CONTACT CONTAINER */
.contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
    margin-bottom: 70px; 
}
.logoContainer img {
    width: 270px;
    height: auto;
    padding: 10px;
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    color: var(--mediumGrey);
    font-size: clamp(10px, 2vw, 12px);
    height: 63px;
    padding: 10px;
}
.MAE, .phoneNumber{
    font-size: clamp(12px, 4vw, 14px);
    font-weight: var(--semiBold);   
}

/* MENU */
.footerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-bottom: 30px;
}
.footerMenu li {
    display: flex;
    align-items: center;
}


.footerMenu li:hover {
    text-decoration: underline;
}
nav ul li a{
    color: var(--mediumGrey);
    font-weight: var(--semiBold);
    font-size: 14px;
}
/* COOKIES */
/* .cookie-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
} */

.cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
    z-index: 100;
  }
  
  .cookie-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: var(--black);
    z-index: 100;
    background: linear-gradient(
      0deg,
      var(--lightPink) 23.8%,
      var(--white) 92%
    );
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    /* border: 2px solid var(--lightGrey); */
  
    z-index: 100;
  }
  .cookie-title {
    font-size: clamp(18px, 2.5vw, 20px);
    margin-bottom: 12px;
  }
  
  .cookie-text {
    font-size: clamp(12px, 2vw, 16px);
    margin-bottom: 20px;
    line-height: 1.8em;
    width: 70%;
  
  }
  .policyPrivacy{
    font-weight: var(--semiBold);
    text-decoration: underline;
  }
  .cookie-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
  }
  .cookie-btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 16px 24px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: clamp(12px, 1vw, 16px);
    transition: 0.15s ease;
    border-radius: 15px;
    border: 1px solid var(--lightGrey);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  }
  .cookie-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  

/* RESPONSIVE */
@media (max-width: 900px) {
    footer{
        height: auto;
        border:2px solid red;
    }
    .footerMenu {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footerMenu li {
        margin: 5px 0;
    }
    button {
        padding: 15px 30px;
        background-color: var(--lightPink);
        margin:30px 0;
    }
    .logoContainer img {
        width:220px;
    }
.contactContainer{
    width: 400px;
    margin-bottom: 20px; 
}
nav ul li a{
    font-size: 10px;
}
}
    