footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 485px;
}

/* BTN */
button {
    width: auto;
    padding: 25px 50px;
    background-color: var(--lightPink);
    margin-top: 70px;
    font-weight: 900;
    font-size: clamp(25px, 3vw, 30px);
    border-radius: 5px;
    cursor: pointer;
    /* text-transform: uppercase; */
    margin-bottom: 60px;
    margin-top: 20px;
}

/* CONTACT CONTAINER */
.contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
    margin-bottom: 70px; 
}
.logoContainer img {
    width: 270px;
    height: auto;
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    color: var(--grey);
    font-size: clamp(10px, 2vw, 12px);
    height: 63px;
}
.MAE, .phoneNumber{
    font-size: clamp(12px, 4vw, 14px);
    font-weight: var(--semiBold);   
}

/* MENU */
.footerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-bottom: 30px;
}
.footerMenu li {
    display: flex;
    align-items: center;
}


.footerMenu li:hover {
    text-decoration: underline;
}
nav ul li a{
    color: var(--grey);
    font-weight: var(--semiBold);
    font-size: clamp(12px, 4vw, 14px);
}


/* RESPONSIVE */
@media (max-width: 900px) {
    footer{
        height: auto;
    }
    .footerMenu {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footerMenu li {
        margin: 5px 0;
    }
}
    