<main class="homeMain">
  <div class="heroContainer">
    <div class="heroContent">
      <p>
        Explorez notre engagement envers nos aîné·es :<br />
        <strong>Découvrir notre Charte de Bienveillance</strong>
      </p>
      <button>découvrir</button>
    </div>
    <img
      class="heroImg overlay"
      src="assets/images/homePage/Eliane.png"
      alt=""
    />
  </div>
  <img
    class="redLine"
    src="assets/images/homePage/Illustration_sans_titre.png"
    alt=""
  />
  <!-- CARDS -->
  <section class="sectionCards">
    <a routerLink="/accountSettings">
      <div class="card" routerLink="/companionshipScheduler">
        <img
          src="assets/images/homePage/rencontre.png"
          alt=""
        />
        <div class="cardContent">
          <h5 class="cardTitle">rencontres</h5>
          <p class="cardDescription">calendrier de rendez-vous</p>
        </div>
      </div>
    </a>
    <a routerLink="/mutualAid">
      <div class="card">
        <img
          src="assets/images/homePage/entraide.jpeg"
          alt=""
        />
        <div class="cardContent">
          <h5 class="cardTitle">entraide</h5>
          <p class="cardDescription">conseils et recommandations</p>
        </div>
      </div>
    </a>
  </section>

  <!-- VOLUNTEERS -->
  <section class="sectionVolunteers">
    <h1>Bénévoles Uni·es</h1>
    <a href="https://www.linkedin.com/in/marche-avec-eliane-paris">
      <div class="volunteersGrid">
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/sanae.jpeg"
              alt="sanae"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">sanae</h2>
              <p class="volunteersGridLocation">paris 12</p>
              <p class="volunteersGridInterest">aime jouer au football</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/andre.jpeg"
              alt="andré"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">andré</h2>
              <p class="volunteersGridLocation">boulogne</p>
              <p class="volunteersGridInterest">aime jouer aux échecs</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/elisabeth.jpeg"
              alt="elisabeth"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">elisabeth</h2>
              <p class="volunteersGridLocation">malakoff</p>
              <p class="volunteersGridInterest">aime danser la salsa</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/vicente.jpeg"
              alt="vicente"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">vicente</h2>
              <p class="volunteersGridLocation">saint-denis</p>
              <p class="volunteersGridInterest">aime partir en randonnée</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </section>
</main>
