.homeMain {
  display: flex;
  flex-direction: column;
}

/* HERO */
.heroContainer {
  background-color: var(--black);
  height: 645px;
  width: 99.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroContent {
  position: absolute;
  top: 300px;
  left: 830px;
  z-index: 1;
  width: 490px;
  text-align: center;
}
.heroContent p {
  font-size: clamp(16px, 2.5vw + 2rem, 20px);
  text-align: center;
  margin-bottom: 35px;
}
.heroContent button {
  background-color: var(--lightPink);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 41px;
}
.heroImg {
  height: 100%;
  width: 100%;
}
.overlay {
  opacity: 0.78;
}

/* RED LINE */
.redLine {
  position: absolute;
  top: 625px;
  width: 100%;
  height: auto;
}

/* CARDS */
.sectionCards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 110px 0;
  z-index: 1;
}
.card {
  height: 400px;
  width: 496px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 270px;
  width: 495px;
}
.cardContent {
  height: 68px;
  width: 170px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cardTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--secondaryFont);
  text-transform: uppercase;
}
.cardDescription {
  font-size: 16px;
  font-family: var(--secondaryFont);
  text-align: center;
}

/* VOLUNTEERS */
h1 {
  font-size: 30px;
  font-weight: var(--semiBold);
}
.sectionVolunteers {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 110px;
}
.volunteersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.volunteersGridItem {
  border: 1px solid var(--black);
  text-align: center;
  width: 300px;
  height: 420px;
}
.volunteersGridContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.volunteersGridPortrait {
  width: 300px;
  height: 260px;
}
.volunteersGridDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  width: 300px;
}
.volunteersGridFirstname {
  font-size: 20px;
  font-family: var(--secondaryFont);
  font-weight: var(--semiBold);
  text-transform: capitalize;
}
.volunteersGridLocation {
  font-size: 16px;
  text-transform: capitalize;
}
.volunteersGridInterest {
  height: 40px;
  width: 160px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1310px) {
  .heroContent {
    left: 700px;
  }
}
@media (max-width: 1200px) {
  .heroContent {
    left: 600px;
  }
}
@media (max-width: 1100px) {
  .heroContent {
    left: 500px;
  }
}
@media (max-width: 1020px) {
  .heroContent {
    left: 400px;
  }
}
@media (max-width: 900px) {
  .homeMain {
    align-items: center;
  }
  /* .redLine{
        display: none; ?
    } */
  .sectionCards {
    flex-direction: column;
    height: 846px;
    width: auto;
  }
  .sectionVolunteers{
    align-items: center;
  }
  .sectionVolunteers h1{
    margin-bottom: 50px;
  }
}
/* ********************** */
/* TO FIX => RESPONSIVE:
  => heroContent
  => only redLine (no hands)
  => gridItem to Center */
/* ********************** */
