<main class="homeMain">
  @if(showCookieOverlay){
  <div class="cookie-overlay"></div>
  }
  <div class="heroContainer">
    <div class="heroContent">
      <h1>Explorez notre engagement envers nos aîné·es :</h1>
      <p>
        <strong>
        Découvrir notre Charte de Bienveillance
      </strong></p>
      <button routerLink="/a_propos/charte" >découvrir</button>
    </div>
    <img
      class="heroImg overlay"
      src="assets/images/homePage/Eliane.png"
      alt="Une Dame âgée au regard captivant et doux qui représente Éliane"
    />
  </div>
  <img
    class="redLine"
    src="assets/images/homePage/FilRouge_MaE_MaxineBellet.png"
    alt="Dessin de deux mains blanche tenant un fil rouge qui ondule entre elles"
  />
  <!-- CARDS -->
  <section class="sectionCards">
    <a routerLink="/rencontres">
      <div class="card">
        <img
          src="assets/images/homePage/rencontre.png"
          alt="Un homme âgée et souriant en fauteuil roulant dans un parc très vert où coule une rivière aux tons bleus"
        />
        <div class="cardContent">
          <h2 class="cardTitle">rencontres</h2>
          <p class="cardDescription">calendrier de demande de sorties</p>
        </div>
      </div>
    </a>
    <a routerLink="/entraide/communication">
      <div class="card">
        <img
          src="assets/images/homePage/entraide.jpeg"
          alt="Un rosace de mains les unes dans les autres. Vue d'en bas avec le ciel bleu et lumineux au-dessus."
        />
        <div class="cardContent">
          <h2 class="cardTitle">entraide</h2>
          <p class="cardDescription">conseils et recommandations</p>
        </div>
      </div>
    </a>
  </section>

  <!-- VOLUNTEERS -->
  <section class="sectionVolunteers">
    <h2 class="unitedVolunteer">Bénévoles Uni·es</h2>
    <a href="https://www.linkedin.com/in/marche-avec-eliane-paris"
      target="_blank">
      <div class="volunteersGrid">
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/sanae.jpeg"
              alt="Portrait de la bénévole Sanae"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">sanae</h2>
              <p class="volunteersGridLocation">paris 12</p>
              <p class="volunteersGridInterest">aime jouer au football</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/andre.jpeg"
              alt="Portrait du bénévole André"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">andré</h2>
              <p class="volunteersGridLocation">boulogne</p>
              <p class="volunteersGridInterest">aime jouer aux échecs</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/elisabeth.jpeg"
              alt="Portrait de la bénévole Elisabeth"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">elisabeth</h2>
              <p class="volunteersGridLocation">malakoff</p>
              <p class="volunteersGridInterest">aime danser la salsa</p>
            </div>
          </div>
        </div>
        <div class="volunteersGridItem">
          <div class="volunteersGridContent">
            <img
              class="volunteersGridPortrait"
              src="assets/images/volunteers/vicente.jpeg"
              alt="Portrait du bénévole Vicente"
            />
            <div class="volunteersGridDescription">
              <h2 class="volunteersGridFirstname">vicente</h2>
              <p class="volunteersGridLocation">saint-denis</p>
              <p class="volunteersGridInterest">aime partir en randonnée</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </section>

  @if(showCookieOverlay){
  <div class="cookie-warning">
    <h3 class="cookie-title">Nous utilisons des cookies 🍪🍪🍪</h3>
    <div class="cookie-text">Nous utilisons des cookies pour vous garantir la meilleure expérience de navigation sur notre site. En utilisant notre site, vous reconnaissez avoir lu et compris notre <a class="policyPrivacy" routerLink="/politique_de_confidentialite/politique_de_confidentialite">Politique en matière de cookies & Politique de confidentialité.</a></div>
    <div class="cookie-btn-wrapper">
      <button class="cookie-btn" (click)="handleCookieChoice(true)">Accepter</button>
      <button class="cookie-btn" (click)="handleCookieChoice(false)">Décliner</button>
    </div>
  </div>}

</main>
