.homeMain {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
}


.cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
  z-index: 100;
}

.cookie-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: var(--black);
  z-index: 100;
  background: linear-gradient(
    0deg,
    var(--lightPink) 23.8%,
    var(--white) 92%
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

  z-index: 100;
}
.cookie-title {
  font-size: clamp(18px, 2.5vw, 20px);
  margin-bottom: 12px;
}

.cookie-text {
  font-size: clamp(12px, 2vw, 16px);
  margin-bottom: 20px;
  line-height: 1.8em;
  width: 70%;

}
.policyPrivacy{
  font-weight: var(--semiBold);
  text-decoration: underline;
}
.cookie-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}
.cookie-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 16px 24px;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: clamp(12px, 1vw, 16px);
  transition: 0.15s ease;
  border-radius: 15px;
  border: 1px solid var(--lightGrey);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}
.cookie-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* HERO */
h1{
  font-weight:400;
  font-size: clamp(16px, 2.5vw + 2rem, 23px);
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px var(--white);
}
.heroContainer {
  background-color: var(--black);
  height: 645px;
  /* height: 100%; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroContent {
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: 1;
  padding: 20px;
  /* border-radius: 10px; */
  /* background-color: rgba(242, 242, 242, 0.20);  */
  text-align: center;
}
.heroContent p {
  font-size: clamp(16px, 2.5vw + 2rem, 20px);
  text-align: center;
  margin-bottom: 35px;
  text-shadow: 1px 1px 5px var(--white);

}
.heroContent button {
  background-color: var(--lightPink);
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 41px;
  border-radius: 5px;
  cursor: pointer;
}
.heroImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  opacity: 0.78;
}

/* RED LINE */
.redLine {
  position: absolute;
  top: 625px;
  width: 100%;
  height: auto;
}

/* CARDS */
.sectionCards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 110px 0;
  z-index: 1;
}
.card {
  height: 400px;
  width: 496px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 270px;
  width: 495px;
}
.cardContent {
  height: 68px;
  width: 170px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cardTitle {
  font-size: clamp(18px, 1vw, 20px);
  font-weight: bold;
  font-family: var(--secondaryFont);
  text-transform: uppercase;
}
.cardDescription {
  font-size: clamp(14px, 1vw, 16px);
  font-family: var(--secondaryFont);
  text-align: center;
}

/* VOLUNTEERS */
.unitedVolunteer{
  font-size: clamp(24px, 1vw, 30px);
  font-weight: var(--semiBold);
}
.sectionVolunteers {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 110px;
}
.volunteersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 62px;
  /* gap:2%; */
}
.volunteersGridItem {
  border: 1px solid var(--black);
  text-align: center;
  width: 300px;
  height: 420px;
  /* border: 2px solid green; */
  
}
.volunteersGridContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid green; */

}
.volunteersGridPortrait {
  width: 300px;
  height: 260px;
}
.volunteersGridDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  width: 300px;
}
.volunteersGridFirstname {
  font-size: clamp(18px, 3vw, 20px);
  font-family: var(--secondaryFont);
  font-weight: var(--semiBold);
  text-transform: capitalize;
}
.volunteersGridLocation {
  font-size: clamp(14px, 1vw, 16px);
  text-transform: capitalize;
}
.volunteersGridInterest {
  height: 40px;
  width: 160px;
  font-size: clamp(14px, 1vw, 18px);
  text-align: center;
  padding-bottom: 15px;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .homeMain {
    align-items: center;
  }
  .sectionCards {
    flex-direction: column;
    height: 846px;
    width: auto;
  }
.heroContent, .redLine{
display: none;
}

.heroContainer{
  height: 350px;
}

.sectionCards{
  margin: 15px 0;
}
  
  .sectionVolunteers{
    align-items: center;
  }
  .sectionVolunteers h1{
    margin-bottom: 50px;
  }
  .card {
    height: 400px;
    width: 350px;
  }
  img {
    height: 270px;
    width: 350px;
  }
  .cardContent {
    height: 68px;
    width: 70px;
  }

}