<header>
  <nav>
    <!-- ANIMATED BURGER ICON -->
    <input type="checkbox" class="menuBurger" id="menuBurger" />
    <label
      for="menuBurger"
      class="animatedBurgerIcon"
      role="button"
      aria-expanded="false"
      aria-label="Toggle Burger Menu"
      tabindex="0"
    >
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

    <!-- LOGO -->
    <a class="logoContainer" routerLink="/"
      ><img src="assets/images/logo/Marche_avec_Eliane_Logo.png"
    /></a>

    <ul>
      <!-- ABOUT US -->
      <div class="navbarToSidebar">
        <li class="navItem">
          <span (click)="toggleAboutUs()"> a propos ▿</span>
          <!-- DROPDOWN -->
          <div
            class="dropdown"
            *ngIf="isOpenAboutUs"
            (appOutSideClick)="(isOpenAboutUs)"
            (outSideClick)="isOpenAboutUs = false"
          >
            <div class="menu-item">
              <a routerLink="/aboutUs">notre histoire</a>
            </div>
            <div class="menu-item">
              <a routerLink="/aboutUs">notre charte</a>
            </div>
          </div>
        </li>

        <!-- COMPANION SHIP SCHEDULER -->
        <li class="navItem">
          <a routerLink="/companionshipScheduler">rencontres</a>
        </li>

        <!-- MUTUAL AID -->
        <li class="navItem">
          <span (click)="toggleMutualAid()">entraide ▿</span>
          <!-- DROPDOWN -->
          <div
            class="dropdown"
            *ngIf="isOpenMutualAid"
            (appOutSideClick)="(isOpenMutualAid)"
            (outSideClick)="isOpenMutualAid = false"
          >
            <div class="menu-item">
              <a routerLink="/mutualAid/communication">nos conseils</a>
            </div>
            <div class="menu-item">
              <a routerLink="/mutualAid/aide">notre aide</a>
            </div>
          </div>
        </li>
      </div>
      <!-- ACCOUNT SETTINGS -->
      <li class="navItem">
        <button class="profilButton" (click)="toggleAccountSettings()">
          A
        </button>
        <!-- DROPDOWN -->
        <div
          class="dropdown"
          *ngIf="isOpenAccountSettings"
          (appOutSideClick)="(isOpenAccountSettings)"
          (outSideClick)="isOpenAccountSettings = false"
        >
          <div class="menu-item">
            <a routerLink="/accountSettings">informations</a>
          </div>
          <div class="menu-item">
            <a routerLink="/login"><button class="signOutBtn">
              <!-- <button (click)="logout()"> -->
              Déconnexion &nbsp;<i class="fas fa-sign-out-alt"></i>
            </button>
          </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
