<app-hero
  [currentPage]="currentSiteMapSubtitle"
  [heroPicture]="currentSiteMapSubtitle.heroPicture"
>
</app-hero>

<section class="sectionSiteMap">
<h1>Liens du Site</h1>

<h2>A PROPOS</h2>
<ul>
    <li><a routerLink="/a_propos/histoire">A propos</a></li>
    <li><a routerLink="/a_propos/charte">Charte de bienveillance</a></li>
</ul>

<h2>ENTRAIDE</h2>
<ul>
    <li><a routerLink="/entraide/communication">Communication</a></li>
    <li><a routerLink="/entraide/bien-etre">Bien-être</a></li>
    <li><a routerLink="/entraide/comportement">Comportement</a></li>
    <li><a routerLink="/entraide/aide">Aide</a></li>
</ul>

<h2 routerLink="/rencontres" class="linked">RENCONTRES</h2>
<!-- Vous pouvez ajouter des liens pour cette section si nécessaire -->

<h2>INFORMATIONS LÉGALES</h2>
<ul>
    <li><a routerLink="/mentions_legales/mentions_legales">Mentions légales</a></li>
    <li><a routerLink="/politique_de_confidentialite/politique_de_confidentialite">Politique de confidentialité</a></li>
    <li><a routerLink="/plan_du_site/plan_du_site">Plan du site</a></li>
</ul>
</section>