main{
    /* padding: 35px 450px; */
    line-height: 25px
}

img {
    margin-left: 10px;
    width: 320px;
    height: auto;
    margin-bottom: 30px;
  }
.title{
    margin-top: 30px;
    padding-left: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
h1, h2{
    margin: 35px 0 ;
    font-size: clamp(22px, 3vw, 24px);
    font-weight: var(--semiBold);
}
.text {
  /* padding: 20px 250px; */
  /* a retravailler !!  */
  font-size: clamp(12px, 3vw, 18px);
  padding: 0 20%;
  white-space: pre-line;
  line-height: 25px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  width: 100% ;
  justify-content: center;
  align-items: center;
}
button {
    width: 150px;
    padding: 15px 25px;
    background-color: var(--lightPink);
    font-size: clamp(10px, 3vw, 15px);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0.5px solid var(--black);
    font-weight: 900;
  }
  .return{
    background-color: var(--clay);
    margin: 40px 0;
    font-weight: 400;
  }
  .return :hover {
    font-weight: bold;
    color: var(--black);
    text-shadow: none;
  }
  button :hover {
    color: white;
    text-shadow: 1px 1px 5px var(--black);
  }
  .buttonContainer{
    width: 100%;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
p{
    margin-bottom: 15px;
}
/* RESPONSIVE */

@media (max-width: 900px) {
  .title{
    display: flex;
    flex-direction: column;
  }
  img{
    width: 250px;
    margin-left: 0;
  }
}