<main>
    <div class="title">
    <h1>En Savoir Plus sur</h1>
    <img src="assets/images/logo/Marche_avec_Eliane_Logo.png" alt="logo" />
  </div>
  
  <!-- learn-more-page.component.html -->
  <app-hero
  [currentPage]="currentLearnMoreSubtitle"
  [heroPicture]="currentLearnMoreSubtitle.heroPicture"
>
</app-hero>



  <div class="buttonContainer">
    <button>
      <a
        href="https://www.petitsfreresdespauvres.fr/agir/donner-du-temps/devenir-benevole/?gad_source=1&gclid=Cj0KCQjw7ZO0BhDYARIsAFttkChRUDpHWGkzfHF30d8A-gNeWtxTnpFJlrAznnERwEOzeqhRleQ_UgAaAtBvEALw_wcB"
        target="_blank"
      >
        S'INSCRIRE
      </a>
    </button>
  </div>

  <div class="text">
  <h2>Origine du Projet :</h2>
  <p>
    Au printemps 2023, une rencontre fortuite dans un square a inspiré la
    création de "Marche avec Eliane". L'agression d’Éliane, une personne âgée, a
    révélé son isolement et les agressions régulières qu'elle subissait. Après
    l’avoir mise en sécurité et discuté avec elle, la prise de conscience de ces
    réalités a motivé le lancement d’une initiative pour aider nos aînés.
  </p>

  <h2>Présentation de la Plateforme :</h2>
  <p>
    "Marche avec Eliane" est une plateforme dédiée à la mise en relation entre
    bénévoles et personnes âgées pour des sorties sécurisées. Ce projet vise à
    créer des liens intergénérationnels, rompre la solitude de nos aînés et
    veiller à leur sécurité.
  </p>

  <h2>Pourquoi "Marche avec Eliane" ?</h2>
  <p>
    <strong>Complémentarité des Associations Existantes :</strong> Alors que des
    associations comme "Les Petits Frères des Pauvres" s'occupent des personnes
    âgées les plus vulnérables, il existe un manque de solutions pour les
    personnes encore valides mais qui nécessitent un accompagnement.
  </p>
  <p>
    <strong>Couvrir les Besoins Non Satisfaits :</strong> "Marche avec Eliane"
    cible ces personnes encore en lien ou non avec leur famille, qui n’ont pas
    assez de soutien pour leurs besoins quotidiens.
  </p>

  <h2>Fonctionnement de la Plateforme :</h2>
  <p>
    <strong>Inscription des Bénévoles :</strong> Les bénévoles peuvent
    s'inscrire sur le site de l'association. Après un entretien et l'approbation
    de l'équipe, ils reçoivent un accès à leur espace personnel.
  </p>
  <p>
    <strong>Espace Personnel :</strong> Une fois accueilli au sein de
    l'association, chaque bénévole accède à son espace personnel. Cet espace
    permet de programmer et gérer soi-même les sorties lors desquelles il
    accompagne une personne âgée.
  </p>
  <p>
    <strong>Anonymisation pour la Sécurité :</strong> Pour des raisons de
    sécurité, les personnes âgées sont anonymisées mais gardent constamment leur
    pseudo afin d'assurer un suivi cohérent et personnalisé.
  </p>

  <h2>Objectifs :</h2>
  <p>
    <strong>Créer du Lien :</strong> Favoriser les échanges intergénérationnels.
  </p>
  <p>
    <strong>Rompre la Solitude :</strong> Aider les personnes âgées à se sentir
    moins isolées.
  </p>
  <p>
    <strong>Assurer la Sécurité :</strong> Veiller à la sécurité des personnes
    âgées lors de leurs sorties.
  </p>

  <p>
    "Marche avec Eliane" est une initiative visant à améliorer la qualité de vie
    de nos aînés en leur offrant un accompagnement bienveillant et sécurisé pour
    leurs sorties. Rejoignez-nous pour faire une différence dans la vie de nos
    aînés !
  </p>

  <div class="buttonContainer">
    <button>
      <a
        href="https://www.petitsfreresdespauvres.fr/agir/donner-du-temps/devenir-benevole/?gad_source=1&gclid=Cj0KCQjw7ZO0BhDYARIsAFttkChRUDpHWGkzfHF30d8A-gNeWtxTnpFJlrAznnERwEOzeqhRleQ_UgAaAtBvEALw_wcB"
        target="_blank"
      >
        S'INSCRIRE
      </a>
    </button>

    <button class="return">
        <a
          routerLink="/bienvenue"
        >
          retour
        </a>
      </button>
  </div>
</div>
</main>
