section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 700px;
    margin-bottom: 120px;
    margin-top: 50px;
}

.forgot-password-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid  var(--mediumGrey);
    border-radius: 4px;
    box-sizing: border-box;
}
input {
    font-size: 16px;
    margin-right: 150px;
    border: none;
    border-bottom: 1px solid var(--black);
    line-height: 1.5;
  }
  input:focus {
    outline: 2px solid var(--lightPink);
    outline-offset: -2px;
    /* pour etre pile sur la ligne border bottom */
    padding-top: 5px;
    padding-left: 5px;
  }

input::placeholder {
    color:  var(--mediumGrey);
}

button {
    background-color: var(--lightPink);
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 150px;
}

button:hover {
    font-weight: bold;
}
