/* CALENDAR PART */
.calendarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*REDLINE */
  background-image: url("/assets/images/homePage/FilRouge_MaE_MaxineBellet.png");
  background-size: 105%; /* couvre à 105% */
  background-repeat: no-repeat; /* pas de duplicate */
  background-position: center;
  position: relative; /* Pour que le calendar soit superposé au RedLine */
}

/* HEADER & CALENDAR WRAPPER */
.wrapper {
  width: 450px;
  background-color: var(--white);
  border-radius: 10px;
  border: var(--black) 1px solid;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  /* décalage horizontal, vertical et le flou du shadow */
  /* 0, 0, 0 => noir , opacité => 0.5 */
  margin-bottom: 30px;
  /* border: 2px solid blue; */
}
/* HEADER */
header .currDate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  font-weight: bold;
}
/* HEADER ARROWS */
header i {
  cursor: pointer;
  text-align: center;
  align-self: center;
  color: var(--mediumGrey);
  padding: 20px 40px; /*  pour un meilleur access au clic*/
}

/* CALENDAR */
.wrapper .calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
/* each <li> occupera 1/7 du <ul> (wrap) */
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.dayLi {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.days .dayLi::before {
  position: absolute;
  content: ""; /* pour le background color de l'active */
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days .dayLi:hover::before {
  background-color: var(--clay);
}

.days .dayLi.active::before {
  background-color: var(--lightPink);
}
.nonActive {
  color: var(--lightGrey);
  pointer-events: none; /* Désactiver les événements de souris pour empêcher le hover */
}

/* DIRECTION */
.direction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: auto;
  padding: 5px 10px;
  background-color: var(--lightPink);
  font-size: clamp(10px, 3vw, 15px);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid var(--black);
}
/* SEARCH BY */
.searchBar,
.instructionCalendar {
  padding: 20px;
  color: var(--black);
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.searchBar {
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}
.instructionCalendar {
  margin-bottom: 50px;
}

@media (max-width: 950px) {
  .calendar {
    width: 280px;
  }
  .wrapper {
    width: 330px;
    padding: 10px;
  }
  header i {
    padding: 10px 30px;
  }
  .calendar {
    padding: 10px;
  }
  .calendar ul {
    padding: 0;
    margin: 0;
  }
  .calendar ul li {
    height: 30px;
    line-height: 30px;
  }
  .dayLi {
    margin-top: 10px;
  }
  .days .dayLi::before {
    height: 35px;
    width: 35px;
  }
  .direction {
    margin-top: 10px;
  }
  button {
    margin-top: 0;
  }
  .dropdown ul li {
    padding: 5px 10px;
  }
  .searchBar .instructionCalendar{
    width: 300px;
  }
}
