<main>
  <section class="welcomeInfo">
    <div class="infoContainer">
    <img src="assets/images/logo/Marche_avec_Eliane_Logo.png" alt="Logo de Marche avec Éliane. Marche avec Éliane en toutes lettres avec le M t le V qui s'il se rejoignent, forme un cœur rouge." >
    <h1>Bienvenue !</h1>
    <p>Bienvenue sur votre espace bénévole personnel</p>
    <button class="connexionBTN"><a routerLink="/connexion">SE CONNECTER AVEC SON MOT DE PASSE</a></button>
    <button class="learnMoreBTN"><a routerLink="/en_savoir_plus/association">EN SAVOIR PLUS</a></button>  
  </div></section>
  <section class="linkToPFDP">
    <img src="assets/images/welcomePage/learnMoreImg.jpg" alt="Une Dame souriante en fauteuil roulant avec une jeune personne souriante qui l'aide à avancer dans un cadre idylique, verdoyant et lumineux.">
  </section>
</main>
