<main>
  <section class="welcomeInfo">
    <div class="infoContainer">
    <img src="assets/images/logo/Marche_avec_Eliane_Logo.png" alt="logo" >
    <h1>Bienvenue !</h1>
    <p>Bienvenue sur votre espace bénévole personnel</p>
    <button class="connexionBTN"><a routerLink="/connexion">SE CONNECTER AVEC SON MOT DE PASSE</a></button>
    <button class="learnMoreBTN"><a routerLink="/en_savoir_plus/association">EN SAVOIR PLUS</a></button>  
  </div></section>
  <section class="linkToPFDP">
    <img src="assets/images/welcomePage/learnMoreImg.jpg" alt="outing sharing">
  </section>
</main>
