<app-hero
  [currentPage]="currentLegalNoticeSubtitle"
  [heroPicture]="currentLegalNoticeSubtitle.heroPicture"
>
</app-hero>

<section class="legalSection">
<h1>Droits de propriété intellectuelle</h1>
<p>Le présent site est la propriété des Petits Frères des Pauvres, qui en est l'auteur au sens des articles L. 111-1 et suivants du Code de la propriété intellectuelle. Les photographies, textes, slogans, dessins, images, séquences animées sonores ou non ainsi que toutes œuvres intégrées dans le site sont la propriété des Petits Frères des Pauvres ou de tiers ayant autorisé les Petits Frères des Pauvres à les utiliser.</p>
<p>La reproduction, sur un support papier ou informatique, du site <a href="">www.petitsfreresdespauvres.fr</a> est autorisée sous réserve qu'elle soit strictement réservée à un usage personnel, excluant tout usage à des fins publicitaires et/ou commerciales et/ou d'informations, et qu'elle soit conforme aux dispositions de l'article L122-5 du Code de la Propriété Intellectuelle.</p>
<p>A l'exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie des contenus qui le composent, sans avoir obtenu l'autorisation préalable des Petits Frères des Pauvres, est strictement interdite et constitue un délit de contrefaçon.</p>

<h2>Liens hypertextes</h2>
<p>La mise en place d'un lien hypertexte vers le site <a href="">www.petitsfreresdespauvres.fr</a> nécessite une autorisation préalable écrite aux Petits Frères des Pauvres. Faites votre demande à : <a href="mailto:webmaster@petitsfreresdespauvres.fr">webmaster&petitsfreresdespauvres.fr</a></p>
<p>Les Petits Frères des Pauvres ne peuvent en aucun cas être tenus pour responsables de la mise à disposition des sites qui font l'objet d'un lien hypertexte à partir du site <a href="http://www.petitsfreresdespauvres.fr">www.petitsfreresdespauvres.fr</a> et ne peuvent supporter aucune responsabilité sur le contenu disponible sur ces sites ou à partir de ces sites.</p>

<h2>Photos et images utilisées</h2>
<p>Les visuels utilisés sur notre site sont la propriété des banques d'images Shutterstock.com, Pixabay.com, Pxhere et des photographes :</p>
<ul>
    <li>Hugues Arbellot</li>
    <li>Jérome Coton</li>
    <li>Jean-Louis Courtinat</li>
    <li>Marion Dunyach</li>
    <li>Herbert Ejzenberg</li>
    <li>Aurélie Gelibert</li>
    <li>Virginie Hérail</li>
    <li>Jérémie Jung</li>
    <li>Yann Le Borgne</li>
    <li>Léa Mariani</li>
    <li>Serge Torrione</li>
    <li>Raphaëlle Trecco</li>
    <li>Fernand Zacot</li>
</ul>
<p>Au cas contraire, une mention précisant l'auteur de la photo accompagnera celle-ci.</p>

<h2>Éditeur</h2>
<p>Le site <a href="">www.petitsfreresdespauvres.fr</a> est édité par les Petits Frères des Pauvres.</p>
<p>Directrice de la publication : Anne Géneau, présidente des Petits Frères des Pauvres.</p>
<p>19, Cité Voltaire, 75011 PARIS</p>

<h2>Hébergement du site</h2>
<p>AMEOS</p>

<h2>Réalisation du site</h2>
<p>CBA Design</p>

<h2>Index de l'égalité femmes/hommes</h2>
<p>Au sein des entités de l’UES « Petits Frères des Pauvres », l’index global d’écart de rémunération entre les femmes et les hommes pour l’année 2022 est de 79 points sur 100.</p>
<p>Cet index global se décline par indicateurs comme suit :</p>
<ul>
    <li>Indicateur écart de rémunérations : 39/40</li>
    <li>Indicateur écart de taux d'augmentation : 20/20</li>
    <li>Indicateur écart de taux de promotion : 10/15</li>
    <li>Indicateur retour de congés maternité : 0/15</li>
    <li>Indicateur hautes rémunérations : 10/10</li>
</ul>
</section>