<main>
  <!-- 🟢 SECTION 1 & 2 TO THE LEFT -->

  <section class="SectionOneAndTwo">
    <!-- TITLE 1 -->
    <div class="blackUnderline">
      <h2>
        <div class="number-circle">1</div>
        Renseigner le pseudo de la personne concernée
      </h2>
    </div>

    <!-- SEARCH -->
    <div class="searchBar">
      <label class="selectElderly" for="elderly-select"> </label>
      <select name="elderly" id="elderly" (change)="onSelected($event)">
        <option value="">Sélectionner une personne</option>
        @for (elderly of elderlies ; track elderlies){
        <option (click)="selectElderly(elderly)" value="{{ elderly.id }}">
          {{ elderly.pseudo }}
        </option>
        }
      </select>
    </div>

    @if (selectedElderly) {
     <p class="youChooseselectedElderlyP">Vous avez choisi de gérer les demandes de sorties de</p>
     <p class="selectedElderly">{{ selectedElderly.pseudo }}</p>
    <button class="addbutton" (click)="confirmSelection()" type="submit">
      CONFIRMER
    </button>
    }

    <!-- TITLE 2 -->
    <h2>
      <div class="number-circle">2</div>
      Cliquer sur un horaire du calendrier <i class="fas fa-plus"></i>
    </h2>
    <!-- INSTRUCTION slmt version DESKTOP -->
    @if (selectedTime && selectedElderly){  
      <div class="outingCreation">
        <p>{{ selectedElderly.pseudo }}</p>
    <p>{{ selectedDate | date: 'mediumDate' }}</p>
    <p>{{ selectedTime }}</p>
    <button (click)="createOuting()">Créer</button>
      </div>}
      @else {

    <div class="instructionGestionRDV">
      <p>Pour ajouter une demande, rien de plus simple !</p>
      <p>Cliquer sur la date et l'horaire de son besoin</p>
    </div>}
  </section>

  <!-- 🟢 CALENDAR TO THE CENTER -->
  <section class="calendarSection">
    <h1>GESTION des DEMANDES</h1>
    <div class="wrapper">
      <!-- HEADER -->
      <header>
        <div class="currDate">
          <i class="fa fa-angle-left" (click)="getPREVMonthAndDays()"></i>
          <p class="currentDate">{{ currMonth }}&nbsp;{{ currYear }}</p>
          <i class="fa fa-angle-right" (click)="getNEXTMonthAndDays()"></i>
        </div>
      </header>

      <!-- CALENDAR -->
      <div class="calendar">
        <!-- WEEKS -->
        <ul class="weeks">
          @for (dayW of daysOfWeek; track dayW){
          <li class="dayLi">{{ dayW }}</li>
          }
        </ul>
        <!-- DAYS -->
        <ul class="days">
          @for (day of days; track day){
          <li class="dayLi" (click)="updateActiveDate(day); selectDate(day)" [ngClass]="{ active: isActive(day), nonActive : isNonActive(day)}"  >
            <!-- ⬆️([ngClass]="{ active: isActive(day) }" -->
            <!--/*⬆️(click)="updateActiveDate(day); selectDate(day)"*/  -->
            {{ day }}
          </li>
          }
        </ul>
      </div>
    </div>

    <!-- 📜 MENU DÉROULANT DES HEURES -->
    @if (selectedDate  && selectedElderly && isDropdownOpen) {
    <div class="dropdown">
      <div class="headerDropdownHour">
        <span class="activeDate">{{ activeDate }}</span>
        <span class="close-btn" (click)="closeDropdown()"
          ><i class="fas fa-times close"></i
        ></span>
      </div>
      <ul>
        @for (hour of hours ; track hours){
        <li (click)="selectTime(hour)">{{ hour }}</li>
        }
      </ul> 
    </div>
    }

      <!-- DIRECTION -->
    <div class="direction">
      <button class="goToTodayBtn" (click)="goToToday()">aujourd'hui</button>
    </div>
   
  </section>

  <!-- 🟢 SECTION 3 TO THE RIGHT -->
  <section class="managementSection">
    <div class="blackUnderline">
      <h2 class="titleSection">
        <div class="number-circle">3</div>
        Voir, modifier ou supprimer les demandes
      </h2>
    </div>
    <!-- LIST OF OUTINGS -->
    <div class="allRequiredOutings">
      <!-- NO SELECTED ELDERLY -->
      @if(!selectedElderly){
      <p class="instruction3">
        Renseigner le pseudo de la personne concernée afin de voir et gérer ses
        demandes de sorties
      </p>
      <!-- 🚨 -->
      <p class="noNeedYet">
        Si la personne n'a pas de demande de sorties prévues, cliquer sur le
        calendrier afin de rentrer une nouvelle demande
      </p>
      }

      <!-- ONE OUTING -->
      @if (selectedElderly && confirmClicked) { @for (outing of outings; track
      outing) { @if (outing.elderly.id === selectedElderly.id) {

      <div class="outing">
        <!-- DATE - TIME -->
        <div class="outingInfo">
          <i class="fas fa-circle"></i>
          <span class="outingDateHour">
            <!-- {{ outing.outingDates[0] | date : "EEE MM-dd" }} - -->
            {{ outing.outingDates[0]  }} -

            <!-- {{ outing.outingDates[0] | date : "h:mm" }} -->
            {{ outing.outingDates[0] | date : "h:mm"}}
          </span>
        </div>
        <!-- NAME - MNGMT -->
        <div class="personAndMngmt">
          <span class="outingPersonRelated">{{ selectedElderly.pseudo }}</span>
          <!-- EDIT - DELETE -->
          <div class="mngmtIcon">
            <button class="add-outing">
              <i class="fas fa-pencil-alt" (click)="toggleFormEDIT(outing)"></i>
            </button>
            <button class="add-outing">
              <i class="fas fa-trash" (click)="toggleFormDELETE(outing)"></i>
            </button>
          </div>
        </div>
      </div>
      }

      <!-- **** FORM EDIT **** -->
      <div class="add-outing-wrapper" [class.active]="isFormOpenEDIT">
        <!-- HEADER -->
        <div class="add-outing-header">
          <div class="title">Modifier l'heure de demande :</div>
          <i class="fas fa-times close" (click)="toggleFormEDIT(outing)"></i>
        </div>
        <!-- BODY -->
        <div class="add-outing-body">
          <div class="add-outing-info">
            <span class="info">{{ selectedElderly.pseudo }}</span>
          </div>

          <div class="add-outing-info">
            <span class="info">{{ selectedOutingForEdit?.outingDates }}</span>
          </div>

          <div class="add-outing-info">
            <label for="dateSelect">Ici :</label>
            <select id="dateSelect" class="info">
              @for (hour of hours ; track hours){
              <option value="hour">{{ hour }}</option>
              }
            </select>
          </div>

          <!-- FOOTER -->
          <div class="add-outing-footer">
            <button class="add-outing-btn">MODIFIER</button>
          </div>
        </div>
      </div>

      <!-- **** FORM DELETE **** -->
      <div class="add-outing-wrapper" [class.active]="isFormOpenDELETE">
        <!-- HEADER -->
        <div class="add-outing-header">
          <div class="title">
            Voulez-vous supprimer cette demande de sortie ?
          </div>
          <i class="fas fa-times close" (click)="toggleFormDELETE(null)"></i>
        </div>
        <!-- BODY -->
        <div class="add-outing-body">
          <div class="add-outing-info">
            <span class="info">{{ selectedElderly.pseudo }}</span>
          </div>

          <div class="add-outing-info">
            <!-- <span class="info">{{ selectedOutingForDelete?.outingDates| date : "h:mm"}}</span> -->
            <span class="info">{{ selectedOutingForDelete?.outingDates | date : "h:mm" }}</span>
          </div>

          <div class="add-outing-info">
            <!-- <span class="info">{{ selectedOutingForDelete?.outingDates | date : "EEE MM-dd" }}</span> -->
            <span class="info">{{ selectedOutingForDelete?.outingDates | date : "EEE MM-dd" }}</span>
          </div>

          <!-- FOOTER -->
          <div class="add-outing-footer">
            <button class="add-outing-btn">SUPPRIMER</button>
          </div>
        </div>
      </div>
      }
      <!-- 🚨 A CORRIGER -->
      <!-- @if( outings.length === 0){
      <p class="noNeedYet">
          Cette personne n'a pas de demande de sorties prévues.
        </p>
        <p class="noNeedYet">
          Si besoin, cliquer sur le calendrier afin de rentrer une nouvelle
          demande
        </p>
        } -->
      }
    </div>
  </section>
</main>
