<!-- HERO -->
<app-hero
  [currentPage]="currentPageSubtitle"
  [heroPicture]="currentPageSubtitle.heroPicture"
>
</app-hero>


<!-- NAV -->
<nav>
  <ul>
    <!-- COMMUNICATION -->
    <li>
      <a routerLink="/mutualAid/communication" 
      routerLinkActive="active"
      ariaCurrentWhenActive="page">communication</a>
    </li>
    <!-- SANTE & SECURITE  -->
    <li>
      <a routerLink="/mutualAid/bien-etre" 
      routerLinkActive="active"
      ariaCurrentWhenActive="page">bien-être</a>
    </li>

    <!-- COMPORTEMENT  -->
    <li>
      <a routerLink="/mutualAid/comportement" 
      routerLinkActive="active"
      ariaCurrentWhenActive="page">comportement</a>
    </li>

    <!-- BESOIN D AIDE -->
    <li>
      <a routerLink="/mutualAid/aide" 
      routerLinkActive="active"
      ariaCurrentWhenActive="page">aide</a>
    </li>
  </ul>
</nav>

<!-- ACCORDION -->
<app-accordion
  [intro]="currentPageSubtitle.intro"
  [items]="currentPageSubtitle.accordionItem"
>
</app-accordion>
