<main class="accountSettingsMain">
  <!-- Partie “MES INFORMATIONS PERSONNELLES” -->
  <section>
    <h1>MES INFORMATIONS PERSONNELLES</h1>
    <h2>Mes informations générales</h2>

    <div class="formContainer">
      <form class="twoColumnForm" [formGroup]="userForm">
        <!-- ********** LEFT PART ********** -->
        <div class="leftFormPart">
          <!-- PRENOM -->
          <div class="cell">
            <label>Prénom *</label>
            <input
              type="text"
              formControlName="firstName"
              [class.ifError]="validationError.includes('firstName')"
            />
            <!-- ERROR -->
            <div class="error-message">
              @if (validationError.includes('firstName')) {
              <p>Le prénom est requis</p>
              }
            </div>
          </div>

          <!-- ADRESSE -->
          <div class="cell">
            <label>Adresse *</label>
            <input
              type="text"
              formControlName="address"
              [class.ifError]="validationError.includes('address')"
            />
            <!-- ERRORS -->
            <div class="error-message">
              @if (validationError.includes('address')) { @if
              (userForm.get('address')?.errors?.['required']){
              <p>L'adresse est requise</p>
              } @if (userForm.get('address')?.errors?.['pattern']){
              <p>L'adresse est invalide</p>
              } }
            </div>
          </div>

          <!-- CODE POSTAL -->
          <div class="cell">
            <label>Code postal *</label>
            <input
              type="text"
              formControlName="zip"
              [class.ifError]="validationError.includes('zip')"
            />
            <!-- ERRORS -->
            <div class="error-message">
              @if (validationError.includes('zip')) { @if
              (userForm.get('zip')?.errors?.['required']){
              <p>Le code postal est requis</p>
              } @if (userForm.get('zip')?.errors?.['pattern']){
              <p>Le code postal est invalide</p>
              } }
            </div>
          </div>

          <!-- NUMERO DE MOBILE -->
          <div class="cell">
            <label>Numéro de mobile *</label>
            <input
              type="tel"
              formControlName="mobile"
              [class.ifError]="validationError.includes('mobile')"
            />
            <!-- ERRORS -->
            <div class="error-message">
              @if (validationError.includes('mobile')) { @if
              (userForm.get('mobile')?.errors?.['required']){
              <p>Le numéro de mobile est requis</p>
              } @if (userForm.get('mobile')?.errors?.['pattern']){
              <p>Le numéro de mobile est invalide</p>
              } }
            </div>
          </div>

          <!-- BTN -->
          <button
            class="submitButton"
            type="submit"
            (click)="submitModifications()"
          >
            Enregistrer les modifications
          </button>
        </div>
        <!-- end LEFT FORM -->

        <!-- ********** RIGHT PART ********** -->
        <div class="rightFormPart">
          <!-- NOM -->
          <div class="cell">
            <label>Nom *</label>
            <input
              type="text"
              formControlName="lastName"
              [class.ifError]="validationError.includes('lastName')"
            />
            <!-- ERROR -->
            <div class="error-message">
              @if (validationError.includes('lastName')) {
              <p>Le nom de famille est requis</p>
              }
            </div>
          </div>

          <!-- ADRESSE LINE 2 -->
          <div class="cell">
            <label>Complément d’adresse</label>
            <input type="text" formControlName="addressLine2" />
          </div>

          <!-- CITY -->
          <div class="cell">
            <label>Ville *</label>
            <input
              type="text"
              formControlName="city"
              [class.ifError]="validationError.includes('city')"
            />
            <!-- ERROR -->
            <div class="error-message">
              @if (validationError.includes('city')) {
              <p>La ville est requise</p>
              }
            </div>
          </div>

          <!-- EMAIL -->
          <div class="cell">
            <label>Email *</label>
            <input
              type="email"
              formControlName="email"
              [class.ifError]="validationError.includes('email')"
            />
            <!-- ERRORS -->
            <div class="error-message">
              @if (validationError.includes('email')) { @if
              (userForm.get('email')?.errors?.['required']){
              <p>L'email est requis</p>
              } @if (userForm.get('email')?.errors?.['pattern']){
              <p>L'email est invalide</p>
              } }
            </div>
          </div>
        </div>
        <!-- fin RIGHT PART -->
      </form>
    </div>
    <!-- fin DIV formContainer -->
  </section>

  <!-- Partie “CHANGEMENT DE MOT DE PASSE” -->
  <section>
    <h1>CHANGEMENT DE MOT DE PASSE</h1>
    <h2>
      Votre mot de passe doit contenir au moins 8 caractères <br />
      ainsi qu'une combinaison de chiffres,<br />
      de lettres et de caractères spéciaux (!$%).
    </h2>
    <form class="pwdForm" [formGroup]="userForm">
      <!-- OLD PWD -->
      <div class="cell">
        <div class="inputPlusEyeContainer">
          <input
            class="inputPSW"
            type="{{ isPasswordVisible.old ? 'text' : 'password' }}"
            formControlName="password"
            placeholder="Ancien mot de passe"
            [class.ifError]="validationError.includes('password')"
          />
          <i
            class="fas"
            [ngClass]="{
              'fa-eye': !isPasswordVisible.old,
              'fa-eye-slash': isPasswordVisible.old
            }"
            (click)="togglePasswordVisibility('old')"
          >
          </i>
        </div>
        <!-- ERRORS -->
        <div class="error-message">
          @if (validationError.includes('password')) { @if
          (userForm.get('password')?.errors?.['required']){
          <p>L'ancien mot de passe est requis</p>
          } @if (userForm.get('password')?.errors?.['pattern']){
          <p>L'ancien mot de passe est invalide</p>
          } }
        </div>
      </div>

      <!-- NEW PWD -->
      <div class="cell">
        <div class="inputPlusEyeContainer">
          <input
            class="inputPSW"
            type="{{ isPasswordVisible.new ? 'text' : 'password' }}"
            formControlName="newPassword"
            placeholder="Nouveau mot de passe"
          />
          <i
            class="fas"
            [ngClass]="{
              'fa-eye': !isPasswordVisible.new,
              'fa-eye-slash': isPasswordVisible.new
            }"
            (click)="togglePasswordVisibility('new')"
          >
          </i>
        </div>
        <!-- ERRORS -->
        <div class="error-message">
          @if (validationError.includes('newPassword')) { @if
          (userForm.get('newPassword')?.errors?.['required']){
          <p>Un nouveau mot de passe est requis</p>
          } @if (userForm.get('newPassword')?.errors?.['pattern']){
          <p>Le nouveau mot de passe est invalide</p>
          } }
        </div>
      </div>
      <!-- ROBUST PWD -->
      <div
        class="validationContainer"
        *ngIf="passwordFormField?.dirty && passwordFormField?.value !== ''"
      >
        <span
          class="block"
          [ngClass]="{
            valid: passwordFormField?.value?.match('^(?=.*[A-Z])'),
            invalid: !passwordFormField?.value?.match('^(?=.*[A-Z])')
          }"
        >
          {{ passwordFormField?.value?.match("^(?=.*[A-Z])") ? "✔️" : "❌" }} Au
          moins 1 lettre majuscule
        </span>
        <span
          class="block"
          [ngClass]="{
            valid: passwordFormField?.value?.match('(?=.*[a-z])'),
            invalid: !passwordFormField?.value?.match('(?=.*[a-z])')
          }"
        >
          {{ passwordFormField?.value?.match("(?=.*[a-z])") ? "✔️" : "❌" }} Au
          moins 1 lettre minuscule
        </span>
        <span
          class="block"
          [ngClass]="{
            valid: passwordFormField?.value?.match('(.*[0-9].*)'),
            invalid: !passwordFormField?.value?.match('(.*[0-9].*)')
          }"
        >
          {{ passwordFormField?.value?.match("(.*[0-9].*)") ? "✔️" : "❌" }} Au
          moins 1 chiffre
        </span>
        <span
          class="block"
          [ngClass]="{
            valid: passwordFormField?.value?.match('(?=.*[!@#$%^&*])'),
            invalid: !passwordFormField?.value?.match('(?=.*[!@#$%^&*])')
          }"
        >
          {{ passwordFormField?.value?.match("[^a-zA-Z0-9\s]") ? "✔️" : "❌" }}
          Au moins 1 caractère spécial
        </span>
        <span
          class="block"
          [ngClass]="{
            valid: passwordFormField?.value?.match('.{8,}'),
            invalid: !passwordFormField?.value?.match('.{8,}')
          }"
        >
          {{ passwordFormField?.value?.match(".{8,}") ? "✔️" : "❌" }} Au moins
          8 caractères
        </span>
      </div>

      <!-- CONFIRM -->
      <div class="cell">
        <div class="inputPlusEyeContainer">
          <input
            class="inputPSW"
            type="{{ isPasswordVisible.confirm ? 'text' : 'password' }}"
            formControlName="newPasswordConfirmation"
            placeholder="Retapez le nouveau mot de passe"
          />
          <i
            class="fas"
            [ngClass]="{
              'fa-eye': !isPasswordVisible.confirm,
              'fa-eye-slash': isPasswordVisible.confirm
            }"
            (click)="togglePasswordVisibility('confirm')"
          >
          </i>
        </div>
        <div class="error-message">
          @if (validationError.includes('newPasswordConfirmation')) { @if
          (userForm.get('newPasswordConfirmation')?.errors?.['required']){
          <p>La confirmation du nouveau mot de passe est requise</p>
          } @if (userForm.get('newPasswordConfirmation')?.errors?.['pattern']){
          <p>Le nouveau mot de passe est invalide</p>
          } }
        </div>
      </div>

      <!-- BTN -->
      <button
        class="submitButton"
        type="submit"
        (click)="submitModifications()"
      >
        Changer le mot de passe
      </button>
    </form>
  </section>

  <!-- Partie “DECONNEXION” -->
  <section>
    <h1>DECONNEXION</h1>
    <button class="signOutBtn" routerLink="/login">
      <!-- <button (click)="logout()"> -->
      Déconnexion &nbsp;<i class="fas fa-sign-out-alt"></i>
    </button>
  </section>


</main>
