<section class="sectionAccordion">
  <p>
    {{ intro }}
  </p>
  <div class="container">
    @for (item of items; track item; let $index = $index) {
    <ul
      class="item"
      [ngClass]="{ active: item.isActive }"
      (click)="itemClicked($index)"
    >
      <li class="heading">
        <h4>{{ item.heading }}</h4>
        <span>{{ item.isActive ? "ｘ" : "＋" }}</span>
      </li>

      <li class="content">
        <article>{{ item.content }}</article>
      </li>
    </ul>
    }
    <hr />
  </div>
</section>
